#e30_1 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1024px;
	height:1366px;
	position:absolute;
}#e30_2 { 
	opacity:1;
	width:1024px;
	height:163px;
	position:absolute;
	left:0px;
	top:-6px;
}#e30_3 { 
	background-color:rgba(180.51432967185974, 231.47093296051025, 247.56252229213715, 1);
	opacity:1;
	width:1024px;
	height:163px;
	position:absolute;
	left:0px;
	top:0px;
}#e30_7 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:330px;
	height:95px;
	position:absolute;
	left:0px;
	top:51px;
	font-family:Roboto;
	text-align:center;
	font-size:72px;
	letter-spacing:0;
	line-height:undefined;
}#e30_33 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:87px;
	height:74px;
	position:absolute;
	left:937px;
	top:45px;
}#e30_34 { 
	opacity:1;
	width:87px;
	height:74px;
	position:absolute;
	left:0px;
	top:0px;
}#e30_35 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:72.5px;
	height:52.416664123535156px;
	position:absolute;
	left:7.250035762786865px;
	top:9.25px;
}#e48_3 { 
	color:rgba(89.84587490558624, 75.94661593437195, 249.6875050663948, 1);
	opacity:1;
	width:941px;
	height:275px;
	position:absolute;
	left:40px;
	top:200px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:undefined;
}#e48_5 { 
	color:rgba(89.84587490558624, 75.94661593437195, 249.6875050663948, 1);
	opacity:1;
	width:941px;
	height:143px;
	position:absolute;
	left:38px;
	top:492px;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:undefined;
}#e48_6 { 
	color:rgba(89.84587490558624, 75.94661593437195, 249.6875050663948, 1);
	opacity:1;
	width:941px;
	height:143px;
	position:absolute;
	left:38px;
	top:652px;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:undefined;
}#e48_9 { 
	background-color:rgba(180.51432967185974, 231.47093296051025, 247.56252229213715, 1);
	opacity:1;
	width:1024px;
	height:346px;
	position:absolute;
	left:3px;
	top:1034px;
}#e48_7 { 
	color:rgba(89.84587490558624, 75.94661593437195, 249.6875050663948, 1);
	opacity:1;
	width:1014px;
	height:186px;
	position:absolute;
	left:3px;
	top:1180px;
	text-align:right;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}