#e27_17 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1024px;
	height:1366px;
	position:absolute;
}#e30_0 { 
	opacity:1;
	width:1024px;
	height:163px;
	position:absolute;
	left:0px;
	top:0px;
}#e27_19 { 
	background-color:rgba(180.51432967185974, 231.47093296051025, 247.56252229213715, 1);
	opacity:1;
	width:1024px;
	height:163px;
	position:absolute;
	left:0px;
	top:0px;
}#e28_9 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:124px;
	height:114px;
	position:absolute;
	left:36px;
	top:49px;
}#e28_10 { 
	opacity:1;
	width:124px;
	height:114px;
	position:absolute;
	left:0px;
	top:0px;
}#e28_11 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:103.33333587646484px;
	height:80.75px;
	position:absolute;
	left:10.333344459533691px;
	top:14.25px;
}#e29_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:321px;
	height:65px;
	position:absolute;
	left:648px;
	top:74px;
	font-family:Roboto;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:undefined;
}#e29_6 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:77px;
	height:74px;
	position:absolute;
	left:930px;
	top:63px;
}#e29_7 { 
	opacity:1;
	width:77px;
	height:74px;
	position:absolute;
	left:0px;
	top:0px;
}#e29_8 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:64.16666412353516px;
	height:61.66666793823242px;
	position:absolute;
	left:6.416708946228027px;
	top:6.166667938232422px;
}#e48_13 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:144px;
	height:122px;
	position:absolute;
	left:26px;
	top:409px;
}#e48_14 { 
	opacity:1;
	width:144px;
	height:122px;
	position:absolute;
	left:0px;
	top:0px;
}#e48_15 { 
	background-color:rgba(180.51432967185974, 231.47093296051025, 247.56252229213715, 1);
	opacity:1;
	width:108px;
	height:101.66667175292969px;
	position:absolute;
	left:18px;
	top:10.166666984558105px;
}#e48_17 { 
	color:rgba(89.84587490558624, 75.94661593437195, 249.6875050663948, 1);
	opacity:1;
	width:514px;
	height:84px;
	position:absolute;
	left:416px;
	top:335px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:undefined;
}#e50_1 { 
	opacity:1;
	width:809px;
	height:93px;
	position:absolute;
	left:177px;
	top:428px;
	background-image:url(images/eimage_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e50_5 { 
	opacity:1;
	width:666px;
	height:742px;
	position:absolute;
	left:179px;
	top:530px;
	border-top-left-radius:35px;
	border-top-right-radius:35px;
	border-bottom-left-radius:35px;
	border-bottom-right-radius:35px;
	background-image:url(images/eimage_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}