#e30_18 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1024px;
	height:1366px;
	position:absolute;
}#e30_20 { 
	background-color:rgba(180.51432967185974, 231.47093296051025, 247.56252229213715, 1);
	opacity:1;
	width:1024px;
	height:163px;
	position:absolute;
	left:0px;
	top:-6px;
}#e30_24 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:321px;
	height:65px;
	position:absolute;
	left:24px;
	top:53px;
	font-family:Roboto;
	text-align:center;
	font-size:72px;
	letter-spacing:0;
	line-height:undefined;
}#e30_40 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:87px;
	height:74px;
	position:absolute;
	left:937px;
	top:58px;
}#e30_41 { 
	opacity:1;
	width:87px;
	height:74px;
	position:absolute;
	left:0px;
	top:0px;
}#e30_42 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:72.5px;
	height:52.416664123535156px;
	position:absolute;
	left:7.250035762786865px;
	top:9.25px;
}#e47_0 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:174px;
	height:162px;
	position:absolute;
	left:93px;
	top:604px;
}#e47_1 { 
	opacity:1;
	width:174px;
	height:162px;
	position:absolute;
	left:0px;
	top:0px;
}#e47_2 { 
	background-color:rgba(180.51432967185974, 231.47093296051025, 247.56252229213715, 1);
	opacity:1;
	width:130.5px;
	height:121.5px;
	position:absolute;
	left:21.75px;
	top:20.25px;
}#e47_8 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:24px;
	height:24px;
	position:absolute;
	left:623px;
	top:336px;
}#e47_9 { 
	opacity:1;
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}#e47_11 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:174px;
	height:169px;
	position:absolute;
	left:93px;
	top:318px;
}#e47_12 { 
	opacity:1;
	width:174px;
	height:169px;
	position:absolute;
	left:0px;
	top:0px;
}#e47_13 { 
	background-color:rgba(180.51432967185974, 231.47093296051025, 247.56252229213715, 1);
	opacity:1;
	width:145.00001525878906px;
	height:84.5px;
	position:absolute;
	left:14.499960899353027px;
	top:42.25px;
}#e47_16 { 
	color:rgba(89.84587490558624, 75.94661593437195, 249.6875050663948, 1);
	opacity:1;
	width:761px;
	height:48px;
	position:absolute;
	left:222px;
	top:324px;
	font-family:Roboto;
	text-align:center;
	font-size:54px;
	letter-spacing:0;
	line-height:undefined;
}#e47_17 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:174px;
	height:170px;
	position:absolute;
	left:93px;
	top:878px;
}#e47_18 { 
	opacity:1;
	width:174px;
	height:170px;
	position:absolute;
	left:0px;
	top:0px;
}#e47_19 { 
	background-color:rgba(180.51432967185974, 231.47093296051025, 247.56252229213715, 1);
	opacity:1;
	width:21.75px;
	height:21.250003814697266px;
	position:absolute;
	left:101.50000762939453px;
	top:56.66666793823242px;
}#e47_20 { 
	background-color:rgba(180.51432967185974, 231.47093296051025, 247.56252229213715, 1);
	opacity:1;
	width:21.749996185302734px;
	height:21.250003814697266px;
	position:absolute;
	left:50.7499885559082px;
	top:56.66666793823242px;
}#e47_21 { 
	background-color:rgba(180.51432967185974, 231.47093296051025, 247.56252229213715, 1);
	opacity:1;
	width:145px;
	height:141.6666717529297px;
	position:absolute;
	left:14.500012397766113px;
	top:14.166666984558105px;
}#e47_22 { 
	color:rgba(89.84587490558624, 75.94661593437195, 249.6875050663948, 1);
	opacity:1;
	width:319px;
	height:78px;
	position:absolute;
	left:403px;
	top:895px;
	font-family:Roboto;
	text-align:center;
	font-size:54px;
	letter-spacing:0;
	line-height:undefined;
}#e47_23 { 
	color:rgba(89.84587490558624, 75.94661593437195, 249.6875050663948, 1);
	opacity:1;
	width:227px;
	height:63px;
	position:absolute;
	left:446px;
	top:424px;
	font-family:Roboto;
	text-align:center;
	font-size:54px;
	letter-spacing:0;
	line-height:undefined;
}#e47_24 { 
	color:rgba(89.84587490558624, 75.94661593437195, 249.6875050663948, 1);
	opacity:1;
	width:227px;
	height:63px;
	position:absolute;
	left:449px;
	top:696px;
	font-family:Roboto;
	text-align:center;
	font-size:54px;
	letter-spacing:0;
	line-height:undefined;
}#e47_25 { 
	color:rgba(89.84587490558624, 75.94661593437195, 249.6875050663948, 1);
	opacity:1;
	width:227px;
	height:63px;
	position:absolute;
	left:446px;
	top:985px;
	font-family:Roboto;
	text-align:center;
	font-size:54px;
	letter-spacing:0;
	line-height:undefined;
}#e47_29 { 
	color:rgba(89.84587490558624, 75.94661593437195, 249.6875050663948, 1);
	opacity:1;
	width:562px;
	height:71px;
	position:absolute;
	left:267px;
	top:1177px;
	font-family:Roboto;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
	line-height:undefined;
}