#e30_11 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1024px;
	height:1366px;
	position:absolute;
}#e30_12 { 
	opacity:1;
	width:1024px;
	height:163px;
	position:absolute;
	left:0px;
	top:0px;
}#e30_13 { 
	background-color:rgba(180.51432967185974, 231.47093296051025, 247.56252229213715, 1);
	opacity:1;
	width:1024px;
	height:163px;
	position:absolute;
	left:0px;
	top:0px;
}#e30_14 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:291px;
	height:95px;
	position:absolute;
	left:46px;
	top:45px;
	font-family:Roboto;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
	line-height:undefined;
}#e30_37 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:87px;
	height:74px;
	position:absolute;
	left:937px;
	top:45px;
}#e30_38 { 
	opacity:1;
	width:87px;
	height:74px;
	position:absolute;
	left:0px;
	top:0px;
}#e30_39 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:72.5px;
	height:52.416664123535156px;
	position:absolute;
	left:7.250035762786865px;
	top:9.25px;
}#e30_46 { 
	color:rgba(89.84587490558624, 75.94661593437195, 249.6875050663948, 1);
	opacity:1;
	width:978px;
	height:73px;
	position:absolute;
	left:46px;
	top:278px;
	font-family:Roboto;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
	line-height:undefined;
}#e30_49 { 
	color:rgba(89.84587490558624, 75.94661593437195, 249.6875050663948, 1);
	opacity:1;
	width:978px;
	height:76px;
	position:absolute;
	left:46px;
	top:733px;
	font-family:Roboto;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
	line-height:undefined;
}#e47_27 { 
	color:rgba(89.84587490558624, 75.94661593437195, 249.6875050663948, 1);
	opacity:1;
	width:978px;
	height:76px;
	position:absolute;
	left:46px;
	top:733px;
	font-family:Roboto;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
	line-height:undefined;
}#e30_48 { 
	color:rgba(89.84587490558624, 75.94661593437195, 249.6875050663948, 1);
	opacity:1;
	width:978px;
	height:76px;
	position:absolute;
	left:46px;
	top:393px;
	font-family:Roboto;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
	line-height:undefined;
}#e30_50 { 
	color:rgba(89.84587490558624, 75.94661593437195, 249.6875050663948, 1);
	opacity:1;
	width:978px;
	height:76px;
	position:absolute;
	left:46px;
	top:615px;
	font-family:Roboto;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
	line-height:undefined;
}#e30_47 { 
	color:rgba(89.84587490558624, 75.94661593437195, 249.6875050663948, 1);
	opacity:1;
	width:978px;
	height:62px;
	position:absolute;
	left:46px;
	top:511px;
	font-family:Roboto;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
	line-height:undefined;
}