* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v30_11 {
  width: 100%;
  height: 1366px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v30_12 {
  width: 100%;
  height: 163px;
  background: url("example/images/v30_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v30_13 {
  width: 100%;
  height: 163px;
  background: rgba(180,231,247,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v30_14 {
  width: 350px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 45px;
  left: 46px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v30_37 {
  width: 87px;
  height: 74px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 937px;
  overflow: hidden;
}
.v30_38 {
  width: 87px;
  height: 74px;
  background: rgba(180,231,247,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v30_39 {
  width: 75px;
  height: 75px;
  background: rgba(180,231,247,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 8px;
}
.v30_46 {
  width: 978px;
  color: rgba(89,75,249,1);
  position: absolute;
  top: 278px;
  left: 46px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v30_49 {
  width: 978px;
  color: rgba(89,75,249,1);
  position: absolute;
  top: 733px;
  left: 46px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v47_27 {
  width: 978px;
  color: rgba(89,75,249,1);
  position: absolute;
  top: 733px;
  left: 46px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v30_48 {
  width: 978px;
  color: rgba(89,75,249,1);
  position: absolute;
  top: 393px;
  left: 46px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v30_50 {
  width: 978px;
  color: rgba(89,75,249,1);
  position: absolute;
  top: 615px;
  left: 46px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v30_47 {
  width: 978px;
  color: rgba(89,75,249,1);
  position: absolute;
  top: 511px;
  left: 46px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
